<?php
    $this->headTitle('Add a new blog post');
?>

<h1>Add a new blog post</h1>
<a type="button" class="btn btn-dark mb-4" href="<?= $this->url('blog') ?>">Back</a>
<?php
    $form->setAttribute('action', $this->url('blog', ['action' => 'add']));
    $form->prepare();

    echo $this->form()->openTag($form);
?>
<div class="form-group">
    <?= $this->formLabel($form->get('author')) ?>
    <?= $this->formElement($form->get('author')) ?>
</div>
<div class="form-group">
    <?= $this->formLabel($form->get('title')) ?>
    <?= $this->formElement($form->get('title')) ?>
</div>
<div class="form-group">
    <?= $this->formLabel($form->get('body')) ?>
    <?= $this->formElement($form->get('body')) ?>
</div>
<div class="form-group">
    <?= $this->formSubmit($form->get('submit')) ?>
</div>
<?= $this->form()->closeTag() ?>
