<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 * @var $posts
 */
?>
<h1 class="mb-4">Blog about something!</h1>

<a type="button" class="btn btn-dark mb-4" href="<?= $this->url('blog', ['action' => 'add']) ?>">Post something new!</a>

<?php foreach ($posts as $post): ?>
    <?php
        $editUrl = $this->url('blog', ['action' => 'edit', 'id' => $post->id]);
        $deleteUrl = $this->url('blog', ['action' => 'delete', 'id' => $post->id])
    ?>
    <div class="row">
        <div class="col-10">
            <h4><?= $post->title ?> by <?= $post->author ?></h4>
            <article>
                <p><?= $post->body ?></p>
            </article>
        </div>
        <div class="col-2 btn-group-sm btn-group-vertical">
            <a href="<?= $editUrl ?>">
                <button class="btn btn-primary my-1">Edit</button>
            </a>
            <form action="<?= $deleteUrl ?>" method="post">
                <input type="hidden" name="id" value="<?= $post->id ?>" />
                <button type="submit" onclick="return confirm('Are you sure you want to delete this post?');" class="btn btn-danger my-1">Delete</button>
            </form>
        </div>
    </div>
    <hr>
<?php endforeach ?>
